@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&family=Trirong:wght@100&display=swap');

a.website-name{
    text-align: center;
    font-family: Trirong;
    font-size: 36px;
}

