h2.page-title {
    text-align: center;
    
}

p.painEvents {
    text-align: center;
    
}

section.painEvents {
    border: 2px solid DarkBlue;
    order:1;
    width: 40vw;
    overflow-y: scroll;
    
    
}

section.fullPlay {
    border: 2px solid DarkBlue;
    order:2;  
    width: 40vw;
    overflow-y: scroll;
    
}

div.both-texts {
    display:flex;
    overflow:auto;
    height: 80vh;
    margin: auto;
    width: 80vw;
    border: 2px solid LightBlue;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-content:center;
    column-gap:10px
}
