@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Trirong:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&family=Trirong:wght@100&display=swap');

h2.page-title {
    text-align: center;
    font-family: "PlayFair Display";
    
}

p.painEvents {
    text-align: center;
    
}

section.painEvents {
    border: 2px solid DarkBlue;
    order:1;
    width: 40vw;
    overflow-y: scroll;
    font-family: "Trirong";
    
    
}

section.fullPlay {
    border: 2px solid DarkBlue;
    order:2;  
    width: 40vw;
    overflow-y: scroll;
    font-family: "Trirong";
    
}

div.both-texts {
    display:flex;
    overflow:auto;
    height: 80vh;
    margin: auto;
    width: 80vw;
    border: 2px solid LightBlue;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-content:center;
    column-gap:10px
}

.speaker {
    font-weight: bold;
    
}

.stage {
    font-style: italic;
    
}

hr {
  border: none;
  border-top: 1px dotted black;
  color: black;
  height: 1px;
  width: 70%;
}